.product-list {
    max-height: 80%;
}

.App {
    overflow-x: hidden;
}

.spinner {
    position: fixed;
    top: 200px;
    right: 180px;
}

.user-gmail-icon {
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.basic-icon {
    position: fixed;
    top: 5px;
    right: 5px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: gray;
    color: white;
    font-family: 'Verdana', Geneva, sans-serif;
    display: inline-block;
    text-align: center;
    line-height: 32px;
}

.user-gmail-icon:hover {
    box-shadow: 0 0 0 3px #D0D0D0
}

.basic-icon:hover {
    box-shadow: 0 0 0 3px #D0D0D0
}

.app-menu {
    font-family: 'Verdana', Geneva, sans-serif;
    color: '#0a1d70';
    position: fixed;
    top: 125px;
    right: 70px
}

.app-menu img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 80px;
}

.app-menu p {
    text-align: center;
}